.exms-toggle-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.exms-time-display {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 0.9rem;
    opacity: 0.8;
}

/* The switch box */
.exms-switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
    cursor: pointer;
}

/* Hide checkbox */
.exms-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider background */
.exms-slider {
    --exms-bg-night: #020617;
    --exms-bg-day: #5494de;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--exms-bg-night);
    transition: 0.5s;
    border-radius: 30px;
}

/* The Moon / Sun circle */
.exms-slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 50%;
    left: 10%;
    bottom: 15%;
    /* Moon shadow */
    box-shadow: inset 8px -4px 0px 0px #ececd9, -4px 1px 4px 0px #dadada;
    background: var(--exms-bg-night);
    transition: 0.5s;
    z-index: 2;
}

.exms-decoration {
    position: absolute;
    content: "";
    height: 2px;
    width: 2px;
    border-radius: 50%;
    right: 20%;
    top: 15%;
    background: #e5f041e6;
    backdrop-filter: blur(10px);
    transition: all 0.5s;
    box-shadow: -7px 10px 0 #e5f041e6, 8px 15px 0 #e5f041e6, -17px 1px 0 #e5f041e6,
    -20px 10px 0 #e5f041e6, -7px 23px 0 #e5f041e6, -15px 25px 0 #e5f041e6;
}

/* When Light Mode is active (Checked) */
input:checked ~ .exms-decoration {
    transform: translateX(-20px);
    width: 10px;
    height: 10px;
    background: white;
    box-shadow: -12px 0 0 white, -6px 0 0 1.6px white, 5px 15px 0 1px white,
    1px 17px 0 white, 10px 17px 0 white;
}

input:checked + .exms-slider {
    background-color: #5494de;
}

input:checked + .exms-slider:before {
    transform: translateX(100%);
    /* Sun Glow */
    box-shadow: inset 15px -4px 0px 15px #efdf2b, 0 0 10px 0px #efdf2b;
}