@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #4F46E5;
  --color-bg: #F8FAFC;
  --color-surface: #FFFFFF;
  --color-text: #0F172A;
  --color-muted: #64748B;
}

.dark {
  --color-primary: #4F46E5;
  --color-bg: #020617;
  --color-surface: #18181B;
  --color-text: #F8FAFC;
  --color-muted: #94A3B8;
}