@tailwind base;
@tailwind components;
@tailwind utilities;

:root.light {
  --background-color: #ffffff;
  --text-color: #213547;
}

:root.dark {
  --background-color: #242424;
  --text-color: rgba(255, 255, 255, 0.87);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}
