@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: #4f46e5;    /* Indigo-600 */
    --color-bg: #f8fafc;         /* Slate-50 */
    --color-surface: #ffffff;    /* White */
    --color-text: #0f172a;       /* Slate-900 */
    --color-muted: #64748b;      /* Slate-500 */
}

.dark {
    --color-primary: #6366f1;    /* Indigo-500 */
    --color-bg: #020617;         /* Zinc-950 (Very dark gray/black) */
    --color-surface: #18181b;    /* Zinc-900 */
    --color-text: #f8fafc;       /* Slate-50 */
    --color-muted: #94a3b8;      /* Slate-400 */
}